body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-top: 10%;
    background-color: black;
    color: white;
    padding: 35px;
    border: 2px solid rgb(41, 38, 38);
    border-radius: 10px;
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btns {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
}

.submit-btn:hover {
    background-color: transparent;
    transition: 1s;
}

.reset-btn {
    background-color: #f44336;
    border: 2px solid #f44336;
    color: white;
}

.reset-btn:hover {
    background-color: transparent;
    transition: 1s;
}

#output {
    margin-top: 30px;
    padding:  1px 10px;
    border: 2px solid rgb(41, 38, 38);
    border-radius: 5px;
    font-size: 14px;
}

