#red {
    position: relative;
    background-color: red;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    border: 3px solid black;
}

#blue {
    position: absolute;
    background-color: skyblue;
    top: 17px;
    right: 10px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    border: 3px solid black;
}

#purple {
    position: relative;
    background-color: rgb(195, 57, 195);
    top: 100px;
    left: 440px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    border: 3px solid black;
}

#yellow {
    position: absolute;
    background-color: gold;
    bottom: 10px;
    left: 10px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    border: 3px solid black;
}

#green {
    position: absolute;
    background-color: green;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    height: 200px;
    width: 600px;
    border: 3px solid black;
}